<div id="<%= dom_id payment %>">
  <p class="mb-2">
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p class="mb-2">
    <strong>Paid at:</strong>
    <%= payment.paid_at %>
  </p>

  <p class="mb-2">
    <strong>Kind:</strong>
    <%= payment.kind %>
  </p>

  <p class="mb-2">
    <strong>Name:</strong>
    <%= payment.name %>
  </p>

  <p class="mb-2">
    <strong>Note:</strong>
    <%= payment.note %>
  </p>

</div>
