<%= turbo_frame_tag payment do %>
  <div class="grid grid-cols-6 justify-items-center border-b items-center">
    <div>
      <%= payment.paid_at.strftime("%Y/%m/%d") %>
    </div>

    <div>
      <%= payment.amount %>
    </div>

    <div>
      <%= payment.kind %>
    </div>

    <div>
      <%= payment.name %>
    </div>

    <div>
      <%= payment.note %>
    </div>

    <div class="flex-1">
      <div class="flex flex-row">
        <%= link_to "Edit", edit_payment_path(payment), class: "bg-gray-500 text-white px-2 py-2 border rounded-md hover:bg-white hover:border-gray-500 hover:text-black" %>

        <%= link_to "Destroy", payment_path(payment),  data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか?" }, class: "bg-red-500 text-white px-2 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black" %>
      </div>
    </div>
  </div>
<% end %>
