<!DOCTYPE html>
<html>
  <head>
    <title>Tatsumaki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/header" =%>
    <main class="container mx-auto mt-10 px-5 flex-row">
      <%= yield %>
    </main>
    <div id="flashes" class="fixed top-16 right-0"></div>
  </body>
</html>
